body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-white: #fff;
  --color-red: #ff0000;
  --color-black: #000;
  --color-darkgray: #a4a4a4;

  /* Gaps */
  --gap-sm: 14px;

  /* Border radiuses */
  --br-5xs: 8px;
}
